@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

.hero-body{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    margin: 0px 10px 0px 10px;
}

.hero{
    height:calc(100vh - 61px);
    justify-content: center;
    align-items: center;
    display: flex;
    width:100%;
    flex-direction: column;
}
.play_pause{
    position: absolute;
    bottom:0;
    left:0;
    margin:25px;
    cursor: pointer;
}

.title, .intro{
    margin:0px;
}

body{
    margin:0px;
    background-color: #1f2026;
    font-family: 'Roboto Mono', monospace;

}
#tsparticles{
    z-index: -10;
}
.Typewriter{
    color:#4b63d8;
    font-size: 3rem;
}
.menuBar{
    position:sticky;
    top:0px;
    left:0px;
    z-index:20;
    width:"100%";
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
    background-color:#1F2026;
}
.menuItem{
    margin:20px;
    cursor: pointer;
    color: #4b63d8;
    transition-duration: 0.1s;
}

.menuItem:hover{
    color: #ff6b35;
}
a, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: none;
  }

.content{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about, .projects, .contact, .skills{
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-content: center;
    width:1000px;
    z-index: 1;
}
.projectsContainer{
    display: flex;
    flex-direction: column;
    margin-top:-50px;
    width:100%;
}
h1{
    font-size: 3rem;
    color: #4b63d8;
}

p{
    font-size: 1rem;
    color: #1a659e;
}


.skills-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:100%;
    justify-content: space-evenly;
    .skill{
        color: #1a659e;
        
        
    }
}

.contactButton{
    background-color: #5773ff;
    width:min-content;
    padding:10px 20px 10px 20px;
    border-radius: 10px;
    transition-duration: .2s;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:10px;
    margin-left: 20px;
}
.contactButton:hover{
    @media only screen and (min-width: 600px) {
        background-color: #4b63d8;
        margin-top: 15px;
        margin-bottom: 5px;
    }
}

.contacts{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-left:-20px;
    margin-top: 20px;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

@media only screen and (max-width: 1050px) {
    .about, .projects, .contact, .skills{
        width:calc(100% - 100px);
        margin: 50px;
    }
    .menuBar{            
        justify-content: center;

    }
}

