.project{
    width:"100%";
    background-color: #32323d;
    border-radius: 15px;
    margin-top: 50px;
}

h2{
    color: #1a659e;
    margin:0;
}
.row{
    display: flex;
    flex: 1;
    border-radius: 10px;
}
.tags{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.tag{
    margin: 0px 10px 0px 10px;
    padding: 10px;
    border-radius: 10px;
    color: #4b63d8;
}
.image{
    width: 100%;
    background-size: cover;
    border-radius: 10px 0 0 10px;
}
@media only screen and (max-width: 1050px) {
    .row{
        flex-direction: column;
    }
    .image{
        height:400px;
        border-radius: 10px 10px 0 0;
    }
}
.info{
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 20px;
}
.links{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap:20px;
    flex-wrap: wrap;
    margin-top: 20px;
}
.source, .deployment{
    background-color: #5773ff;
    width:min-content;
    padding:10px 20px 10px 20px;
    border-radius: 10px;
    transition-duration: .2s;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:10px;
}

.source:hover, .deployment:hover{
    @media only screen and (min-width: 600px) {
        background-color: #1F2026;
        box-shadow: 0px 0px 1px 1px #5773ff;
        margin-top: 15px;
        margin-bottom: 5px;         
        color:#ff6b35;
    }
}
